<?xml version="1.0" encoding="utf-8"?>
<leaf-config>
	
    
    
    

    
<class-count> 32 </class-count><attr-count> 14 </attr-count><!-- Specify the config the classifiers which are trained in advance --><classifiers>
		
        
        
        
        
    <svm>
		
        <!-- Specify where the classifier is stored --><!-- cls-file> </cls-file --><cls-file>svm-cls.csv</cls-file></svm><knn>
		
            
        <!-- Specify parameters of classifiers --><k> 3 </k></knn><ann>
		<cls-file>ann-cls.csv</cls-file></ann><randomtrees>
		<cls-file>randomtrees-cls.csv</cls-file></randomtrees><bayes>
        <cls-file>bayes-cls.csv</cls-file></bayes><ert><cls-file>ert-cls.csv</cls-file></ert></classifiers><samples>leaf-samples.db</samples></leaf-config>